{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  Steno <a href="/">index</a>
  {% if model.prev_id %}
  <a href="{{ url_for('url', url_id=model.prev_id) }}">&lt;&lt;</a>
  {% endif %}
  {% if model.next_id %}
  <a href="{{ url_for('url', url_id=model.next_id) }}">&gt;&gt;</a>
  {% endif %}
</div>
<hr>
<div class="container">
  <h1>{{ model.speaker_name }}</h1>
  <p><em>{{ model.day }}</em></p>
  <p>{{ model.text }}</p>
</div>
{% if model.ext_url %}
<hr>
<div class="container-fluid">
  <p><a href="{{ model.ext_url }}">{{ model.ext_url }}</a></p>
</div>
{% endif %}
{% endblock %}
