{% extends "base.html" %}

{% block declarations %}
<style>

.nav-row {
    margin-top: 16px;
}

</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="nav-row">
    Steno <a href="/">index</a>
    {% if model.prev_id %}
    <a href="{{ url_for('.frame', url_id=model.prev_id) }}">&lt;&lt;</a>
    {% endif %}
    {% if model.next_id %}
    <a href="{{ url_for('.frame', url_id=model.next_id) }}">&gt;&gt;</a>
    {% endif %}
  </div>
</div>
<hr>
<div class="container">
  <h1>
    {% if model.speaker_card %}
    <a href="{{ model.speaker_card }}" target="_blank">{{ model.speaker_name }}</a>
    {% else %}
    {{ model.speaker_name }}
    {% endif %}
  </h1>
  <p><em>{{ model.day }}</em></p>
  <p>{{ model.text }}</p>
</div>
{% if model.ext_url %}
<hr>
<div class="container-fluid">
  <p><a href="{{ model.ext_url }}" target="_blank">{{ model.ext_url }}</a></p>
</div>
{% endif %}
{% endblock %}
